/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 'Space Mono' */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global vars */
:root {
    --wave-color-one: rgb(17, 34, 59);
    --wave-color-two: rgb(6,20,30);
    --accent-color: rgb(242, 51, 77);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 0;
    color: white;
}

section {
    margin-top: 0;
    margin-bottom: 0;
}

.space {
    font-family: 'Space Mono', monospace;
}

.open {
    font-family: 'Open Sans', sans-serif;
}

input[type=button] {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    color: white;
    margin: 1%;
    padding: 4%;
}

input[type=button]:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Nav */

nav {
    width: 100%;
    height: 100px;
}

.nav-container {
    position: fixed;
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav-links  {
    display: flex;
    font-size: 11px;
    padding: 3%;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-links > a {
    padding: 2%;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: var(--accent-color);
}


/* Intro Section  */

.intro {
    margin: 0;
    background-image: url("./assets/imgs/space_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.hello-there {
    margin-top: 0 auto;
    padding-top: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#i-am {
    color:var(--accent-color)
}

#hi {
    font-size: 35px;
    font-weight: 100;
    margin: 0;
    
}

#me {
    font-size: 35px;
    margin: 0;
}

#nice-to {
    font-weight: 500;
    margin: 0;
}

#intro-btns {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-btns > input {
    padding: 10%;
    margin: 3%;
}

/* About Me */

.about-me-container {
    background-color: var(--wave-color-one);
}

.about-me-info {  
    max-width: 80%;
    margin: auto;
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about-title {
    font-size: 35px;
    margin-bottom:0;
    line-height: 0.9;
}

/* About Me Skills */

.about-skills {
    max-width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

ul {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    width: calc(100% / 2);
}

li::before {
    padding: 5px;
    content: "➤";
    color: var(--accent-color);
}

/* Selfie */

#selfie {
    padding: 1em;
}

/* Who I Am */

.about-desc {
    width: 60%;
}

#who-am-i {
    padding: 0;
    margin: 0;
    line-height: 0.9;
}

#who-am-i > h2 {
    padding: 0;
    margin: 0;
}

#name-acc {
    background-color: var(--accent-color);
    text-align: center;
    width: 250px;
    margin: 0;
    margin-top: 2%;
} 

#follow {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio-container {
    background-color: var(--wave-color-two);
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-info {
    margin: 2rem 5rem 5rem 5rem;
}

.portfolio-info > h1 {
    font-size: 35px;
}

/* portfolio buttons */

#project-btns > input {
    padding: 1%;
    font-size: 11px;
}

/* Portfolio Projects */

.project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.project-list > div {
    background-color: gray;
    padding: 100px;
    margin: 1%;
}

/* Current Projects */

.current-projects-container {
    background-color: var(--wave-color-one);
    margin-top: 0;
    padding: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.project-card {
    font-size: 15px;
}

.project-cards > div {
    background-color: var(--wave-color-two);
    padding: 1rem;
    width: 200px;
    margin: 1rem;
}

#current-title {
    font-size: 40px;
}

/* Contact Form */

.contact-container {
    background-color: var(--wave-color-two);
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-div {
    margin: 5%;
}

#contact-title {
    font-size: 40px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form{
    display: block;
    color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid var(--wave-color-one);
    background-color: var(--wave-color-one);
}


textarea {
    background-color: var(--wave-color-one);
    color: white;
    border: 2px solid var(--wave-color-one);
    border-radius: 4px;
    height: 300px;
    width: 100%;
    resize: none;
}

.form-container {
    display: flex;

}

/* Footer */

footer {
    background-color: var(--wave-color-one);
    margin-top: 0;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer > h1 {
    margin: 1rem;
    font-size: 30px;
}

#footer-icon-gh {
    background-color: var(--accent-color);
    background-image: url('./assets/icons/github-sign.svg');
}

#footer-icon-li {
    background-color: var(--accent-color);
    background-image: url('./assets/icons/linkedin-logo.svg');
}